<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agentdoc.document.mapper.SpaceRolePermissionMapper">

    <insert id="insertBatch">
        INSERT INTO `space_role_permission` (`role_id`, `permission_code`)
        VALUES
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.roleId}, #{entity.permissionCode})
        </foreach>
    </insert>

</mapper>
