<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agentdoc.task.mapper.TaskMapper">
    <insert id="insertBatch">
        INSERT INTO `task` (
        `id`,
        `task_no`,
        `space_id`,
        `agent_id`,
        `agent_config_version`,
        `agent_execution_id`,
        `trace_id`,
        `a2a_task_id`,
        `a2a_context_id`,
        `prompt_hash`,
        `document_id`,
        `document_type`,
        `document_version_snapshot`,
        `document_content_sha256`,
        `input_snapshot_schema_version`,
        `input_snapshot_hash`,
        `name`,
        `instruction`,
        `status`,
        `token_budget`,
        `read_scope`,
        `focus_regions_json`,
        `tokens_used`,
        `tokens_estimated`,
        `start_time`,
        `dispatched_at`,
        `last_heartbeat_at`,
        `end_time`,
        `error_message`,
        `result_summary`,
        `parent_task_id`,
        `root_task_id`,
        `lineage_type`,
        `execution_mode`,
        `derivation_request_key`,
        `derivation_request_hash`,
        `retry_count`,
        `capability_token`,
        `created_by`
        )
        VALUES
        <foreach collection="entities" item="entity" separator=",">
            (
            #{entity.id},
            #{entity.taskNo},
            #{entity.spaceId},
            #{entity.agentId},
            #{entity.agentConfigVersion},
            #{entity.agentExecutionId},
            #{entity.traceId},
            #{entity.a2aTaskId},
            #{entity.a2aContextId},
            #{entity.promptHash},
            #{entity.documentId},
            #{entity.documentType},
            #{entity.documentVersionSnapshot},
            #{entity.documentContentSha256},
            #{entity.inputSnapshotSchemaVersion},
            #{entity.inputSnapshotHash},
            #{entity.name},
            #{entity.instruction},
            #{entity.status},
            #{entity.tokenBudget},
            #{entity.readScope},
            #{entity.focusRegionsJson},
            #{entity.tokensUsed},
            #{entity.tokensEstimated},
            #{entity.startTime},
            #{entity.dispatchedAt},
            #{entity.lastHeartbeatAt},
            #{entity.endTime},
            #{entity.errorMessage},
            #{entity.resultSummary},
            #{entity.parentTaskId},
            #{entity.rootTaskId},
            #{entity.lineageType},
            #{entity.executionMode},
            #{entity.derivationRequestKey},
            #{entity.derivationRequestHash},
            #{entity.retryCount},
            #{entity.capabilityToken},
            #{entity.createdBy}
            )
        </foreach>
    </insert>
</mapper>
