<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agentdoc.auth.mapper.DepartmentMapper">

    <select id="selectHierarchy" resultType="com.agentdoc.auth.pojo.entity.DepartmentEntity">
        SELECT id, parent_id
        FROM department
        WHERE deleted = 0
    </select>
</mapper>
